.card{
    width:400px;
    display:block;
    margin:40px auto;
    border-bottom: 4px solid #8bb8e8;
    border-left: 4px solid #8bb8e8;
    border-radius: 10px;
    padding:7px;
    text-align: center;
    font-size: large;
    color:#daebfe;
    background:#003b5c;
}
.links{
    list-style-type: none;
    background: #8bb8e8;
    margin-bottom: 100px;
    padding: 40px 0 70px 20px;

}
.bold{
    font-weight: bold;
    font-size:xx-large;
}
.links li{
    font-size: 25px;
    color:#daebfe;
    text-align: left;
    margin:20px 0;
}
